<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-text color="warning"> </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="container">
    <div class="project-item">
      <ion-img
        class="project-img"
        src="https://github.com/Delsivan/Launchstore/blob/master/screens/cards.png?raw=true"
      ></ion-img>
      <div class="project-text">
        <ion-text color="primary">
          <h6>LaunchStore</h6>
          <p>
            Launchstore é um marketplace/e-commerce para compra e venda de produtos ou serviços.
          </p>
          <a class="see-more" href="https://github.com/Delsivan/Launchstore"
            >Ver mais</a
          >
        </ion-text>
      </div>
    </div>
    <div class="divider"></div>
    <div class="project-item">
      <ion-img
        class="project-img"
        src="https://raw.githubusercontent.com/Delsivan/Gym/master/screens/createInstructor.png"
      ></ion-img>
      <div class="project-text">
        <ion-text color="primary">
          <h6>Gym</h6>
          <p>
            Projeto Gym tem por objetivo cadastrar e consultar usuários e
            personal trainers de uma academia.
          </p>
          <a class="see-more" href="https://github.com/Delsivan/Gym"
            >Ver mais</a
          >
        </ion-text>
      </div>
    </div>
    <div class="divider"></div>
    <div class="project-item">
      <ion-img
        class="project-img"
        src="https://github.com/Delsivan/Pagina-Portfolio/blob/master/icons/index.png?raw=true"
      ></ion-img>
      <div class="project-text">
        <ion-text color="primary">
          <h6>Portfólio</h6>
          <p>Sistema tem por objetivo apresentar os projetos realizados.</p>
          <a
            class="see-more"
            href="https://github.com/Delsivan/Pagina-Portfolio"
            >Ver mais</a
          >
        </ion-text>
      </div>
    </div>
  </div>
</ion-content>
