.ion-color-blue {
    --ion-color-base: var(--ion-color-blue);
    --ion-color-base-rgb: var(--ion-color-blue-rgb);
    --ion-color-contrast: var(--ion-color-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-blue-shade);
    --ion-color-tint: var(--ion-color-blue-tint);
  }

  .ion-color-new {
    --ion-color-base: var(--ion-color-new);
    --ion-color-base-rgb: var(--ion-color-new-rgb);
    --ion-color-contrast: var(--ion-color-new-contrast);
    --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
    --ion-color-shade: var(--ion-color-new-shade);
    --ion-color-tint: var(--ion-color-new-tint);
  }


.project-item {
    display: flex;
    width: 100%;
    height: 110px;

    margin: 10px 0;

    .project-img {
        width: 50%;
        height: 100%;
        margin: 0 10px;
        object-fit: cover;
    }
    .project-text {
        width: 150px;
        margin: 0 2px;

        text-align: justify;
    }
   
    .project-text h6 {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
    }
    
    .project-text p {
        font-size: 10px;
        min-height: 50px;
        overflow: hidden;
    }

    .see-more {
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        width: 100%;
        font-size: 12px;
        color: #4c8dff;
        text-decoration: none;
    }    
}

.divider {
    width: 100%;
    height: 1px;
    background: #ccc;
}
