<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-text color="warning">
        
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

<div class="project-item">
  <ion-img class="project-img" src="https://raw.githubusercontent.com/Delsivan/Launchstore/master/screens/product2.png"></ion-img> 
  <div class="project-text">
    <ion-text color="primary" >
      <h6>LaunchStore</h6>
      <p>Sistema LaunchStore tem por objetivo cadastrar e consultar produtos.</p>
      <ion-button class="project-button" color="warning" href="https://github.com/Delsivan/Launchstore">ver</ion-button>
    </ion-text>
  </div> 
</div>

<div class="project-item">
  <ion-img class="project-img" src="https://raw.githubusercontent.com/Delsivan/Gym/master/screens/createInstructor.png"></ion-img> 
  <div class="project-text">
    <ion-text color="primary" >
      <h6>Gym</h6>
      <p>Projeto Gym tem por objetivo cadastrar e consultar usuários e personal trainers de uma academia.</p>
      <ion-button class="project-button" color="warning" href="https://github.com/Delsivan/Gym">ver</ion-button>
    </ion-text>
  </div> 
</div>

<div class="project-item">
  <ion-img class="project-img" src="https://github.com/Delsivan/Pagina-Portfolio/blob/master/icons/index.png?raw=true"></ion-img> 
  <div class="project-text">
    <ion-text color="primary" >
      <h6>Portfólio</h6>
      <p>Sistema tem por objetivo apresentar os projetos realizados.</p>
      <ion-button class="project-button" color="warning" href="https://github.com/Delsivan/Pagina-Portfolio">ver</ion-button>
    </ion-text>
  </div> 
</div>

</ion-content>

      