<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-text color="warning">
        
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div style="height: 30%; display: flex; align-items: center; justify-content: center">
    <ion-avatar style="height:140px; width:140px; display:inline­block; border­radius:50%; border­radius:50%; border:6px solid #fff">
      <ion-img src="https://avatars0.githubusercontent.com/u/65980261?s=460&u=883d568dfccbf2a1a01ed99abd388e31b88300d6&v=4"></ion-img>
    </ion-avatar>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-text color="primary" >
            <h2>Delsivan do Nascimento Vieira</h2>
          </ion-text>
          <ion-text color="primary">
            <h4>Web Developer Student.</h4>
          </ion-text>
          <ion-text color="warning">
            <h6> HTML | CSS | JavaScript </h6>
          </ion-text>

          <div class="sociais">
            <a href="https://github.com/Delsivan">
              <ion-icon name="logo-linkedin" color="new" style= "margin-left: 24; font-size: 28px"></ion-icon>
            </a>
            <a href="https://github.com/Delsivan">
              <ion-icon name="logo-github" color="primary"style= "margin-left: 24px; font-size: 28px"></ion-icon>
            </a>
            <a href="https://twitter.com/Delsivan2">
              <ion-icon name="logo-twitter" color="blue" style= "margin-left: 24px; font-size: 28px"></ion-icon>
            </a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
